---
name: Docker build

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-*'
    branches: [main]
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/dockerbuild.yml'
      - 'Dockerfile'
      - 'Dockerfile.no-build'
  pull_request:
    branches: [main]
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/dockerbuild.yml'
      - 'Dockerfile'
      - 'Dockerfile.no-build'
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch, commit, or tag to checkout'
        required: true

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: us-east-1
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:

  go-build-and-docker-buildx:
    runs-on: ubuntu-latest
    #runs-on: [self-hosted]
    permissions:
      contents: read
      packages: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ github.event.inputs.ref || github.ref }}
          fetch-depth: '50'
          fetch-tags: 'true'
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - name: Get version from git describe
        id: version
        run: |
          VERSION=$(git describe --always --dirty --exclude 'chart-*' --exclude 'actions-*')
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "Building version: ${VERSION}"
      - name: Build linux/amd64
        run: go build -o temp/argo-diff-$GOOS-$GOARCH -ldflags "-extldflags '-static' -X 'main.Version=${{ steps.version.outputs.VERSION }}'" -v ./cmd/
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: amd64
      - name: Build linux/arm64
        if: ${{ github.event_name != 'pull_request' }} ## don't build multi-arch on PRs
        run: go build -o temp/argo-diff-$GOOS-$GOARCH -ldflags "-extldflags '-static' -X 'main.Version=${{ steps.version.outputs.VERSION }}'" -v ./cmd/
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: arm64
      - name: Build linux/s390x
        if: ${{ github.event_name != 'pull_request' }} ## don't build multi-arch on PRs
        run: go build -o temp/argo-diff-$GOOS-$GOARCH -ldflags "-extldflags '-static' -X 'main.Version=${{ steps.version.outputs.VERSION }}'" -v ./cmd/
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: s390x
      - name: Build linux/ppc64le
        if: ${{ github.event_name != 'pull_request' }} ## don't build multi-arch on PRs
        run: go build -o temp/argo-diff-$GOOS-$GOARCH -ldflags "-extldflags '-static' -X 'main.Version=${{ steps.version.outputs.VERSION }}'" -v ./cmd/
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: ppc64le

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      -
        name: Log in to container register
        id: login-ghcr
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=sha,event=branch
            type=raw,event=branch,value=${{ steps.version.outputs.VERSION }}
            type=ref,event=tag
            type=ref,event=pr
            type=sha,event=pr
      -
        name: Build and push linux/amd64
        if: ${{ github.event_name == 'pull_request' }} ## only push amd64 on PRs
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          file: Dockerfile.no-build
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
      -
        name: Build and push multi-arch
        if: ${{ github.event_name != 'pull_request' }} ## push multi-arch when not a PR
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          file: Dockerfile.no-build
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64,linux/s390x,linux/ppc64le
