---
name: Docker build

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-*'
    branches: [main]
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/dockerbuild.yml'
      - 'Dockerfile'
      - 'Dockerfile.no-build'
  pull_request:
    branches: [main]
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/dockerbuild.yml'
      - 'Dockerfile'
      - 'Dockerfile.no-build'
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch, commit, or tag to checkout'
        required: true

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: us-east-1
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:

  go-build-and-docker-buildx:
    runs-on: ubuntu-latest
    #runs-on: [self-hosted]
    permissions:
      contents: read
      packages: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.ref || github.ref }}
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build linux/amd64
        run: go build -o temp/argo-diff-$GOOS-$GOARCH -ldflags '-extldflags "-static"' -v ./cmd/
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: amd64
      - name: Build linux/arm64
        if: ${{ github.event_name != 'pull_request' }} ## don't build multi-arch on PRs
        run: go build -o temp/argo-diff-$GOOS-$GOARCH -ldflags '-extldflags "-static"' -v ./cmd/
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: arm64
      - name: Build linux/s390x
        if: ${{ github.event_name != 'pull_request' }} ## don't build multi-arch on PRs
        run: go build -o temp/argo-diff-$GOOS-$GOARCH -ldflags '-extldflags "-static"' -v ./cmd/
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: s390x
      - name: Build linux/ppc64le
        if: ${{ github.event_name != 'pull_request' }} ## don't build multi-arch on PRs
        run: go build -o temp/argo-diff-$GOOS-$GOARCH -ldflags '-extldflags "-static"' -v ./cmd/
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: ppc64le

      - name: Prepare git-rev.txt
        run: |
          set -x
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo ${GITHUB_REF#refs/tags/} > git-rev.txt
          else
            echo ${GITHUB_SHA::8} > git-rev.txt
          fi
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Log in to container register
        id: login-ghcr
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=sha,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha,event=pr
      -
        name: Build and push linux/amd64
        if: ${{ github.event_name == 'pull_request' }} ## only push amd64 on PRs
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.no-build
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
      -
        name: Build and push multi-arch
        if: ${{ github.event_name != 'pull_request' }} ## push multi-arch when not a PR
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.no-build
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64,linux/s390x,linux/ppc64le
