---
name: Go

on:
  push:
    branches: ["main"]
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '**/_testdata/**'
      - '.github/workflows/go.yml'
  pull_request:
    branches: ["main"]
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '**/_testdata/**'
      - '.github/workflows/go.yml'

permissions:
  # Required: allow read access to the content for analysis.
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read
  # Optional: allow write access to checks to allow the action to annotate code in the PR.
  checks: write

env:
  ARGO_DIFF_CI: 'true'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
      - name: Get version from git describe
        id: version
        run: |
          VERSION=$(git describe --always --dirty --exclude 'chart-*' --exclude 'actions-*')
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "Building version: ${VERSION}"
      - name: Build
        run: go build -ldflags "-X 'main.Version=${{ steps.version.outputs.VERSION }}'" -v ./...
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
      - name: Format
        run: go fmt ./...
  lint:
    # Only lint on PRs; it's not as useful on pushes to main
    if: github.event_name == 'pull_request'
    # Disable Go 1.11 modules when running per:
    # https://github.com/golangci/golangci-lint/issues/395#issuecomment-922153131
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Go for golangci-lint
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9
        with:
          version: v2.6.1
          only-new-issues: true
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
      - name: Test
        run: go test -v ./...
