name: Helm Lint and Test
permissions:
  contents: read

on:
  pull_request:
    paths:
      - 'charts/argo-diff/**'
      - '.github/workflows/helm.yml'

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: d3adb5/helm-unittest-action@v2
        with:
          charts: charts/argo-diff
          unittest-version: "0.7.2"
          helm-version: "3.16.4"
      - run: helm lint charts/argo-diff
