name: Helm Lint and Test

on:
  pull_request:
    paths:
      - 'charts/argo-diff/**'
      - '.github/workflows/helm.yml'

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - uses: d3adb5/helm-unittest-action@v2
        with:
          charts: charts/argo-diff
          unittest-version: "0.7.2"
          helm-version: "3.16.4"
      - run: helm lint charts/argo-diff
